html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.header{
    padding-top: .5rem;
    background: url(images/title-bg.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-position-x: left 5rem;
}

.title {
    text-align: left;
}
    .title-link {
        text-decoration: none;
        color: rgb(167, 0, 0);
        font-family: 'Cinzel Decorative', 'cursive';
        font-size: 3rem;
        background-color: rgba(0, 0, 0, 0);
        text-shadow: 5px 5px 5px black;
    }
        @media (max-width: 48rem) {
            .title-link {
            font-size: 2rem;
            }
        }

.navbar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1.3rem;
    left: 1%;
    width: 15%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
}
    @media (max-width: 48rem){
        .navbar {
            gap: 2.5rem;
            justify-content: space-between;
            /* left: 1%; */
        }
    }

    .nav-links {
        color: rgb(207, 188, 188);
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.65rem;
        font-family: 'Cinzel Decorative', 'cursive';
        font-weight: 500;
        text-decoration: none;
        padding-bottom: .75rem;
    }
        @media (max-width: 48rem){
            .nav-links {
                font-size: 1.35rem;
            }
        }
            .nav-links:hover {
                transition: .5s;
                color:rgba(255, 255, 255, 0.80);
                text-shadow: 2px 2px 4px rgba(204, 204, 204, 0.65);
            }

/*======================================================================================================*/

.dragons {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

    @media (max-width: 51rem){
        .dragons{
        grid-template-columns: 1fr;
        margin: 0 1rem 1rem 1rem;
        height: 75%;
        }
    }

/*==================================================================================================================*/

.dragon-info {
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(248, 248, 248);
    cursor: pointer;
    padding: .5rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 1rem; */
    transition: .5s;
}
    .dragon-info:hover {
        background: radial-gradient(circle, rgba(145,145,145,1) 0%, rgba(21,21,21,1) 88%, rgba(0,0,0,1) 100%); 
    }

.icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
}
.hovertext1, .hovertext2, .hovertext3 {
    position: relative;
    color: rgb(200, 214, 203);
    font-family: 'Cinzel Decorative', 'cursive';
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    z-index: 1;
}

.hovertext1 .dragon-text, .hovertext2 .dragon-text, .hovertext3 .dragon-text {
    position: absolute;
    top: 63%;
    background-color: rgba(0, 0, 0, 0.40);
    opacity: 1; /*for JS*/
    transition: .8s;
}

@media (max-width: 85rem){
    .hovertext1 .dragon-text, .hovertext2 .dragon-text, .hovertext3 .dragon-text{
    top: 60%;
    font-size: 1rem;
    }
}

    @media (max-width: 65rem){
        .hovertext1 .dragon-text, .hovertext2 .dragon-text, .hovertext3 .dragon-text{
        top: 55%;
        font-size: 1rem;
        }
    }

        @media (max-width: 48rem){
            .hovertext1 .dragon-text, .hovertext2 .dragon-text, .hovertext3 .dragon-text{
            top: 70%;
            }
        }

            @media (max-width: 30rem){
                .hovertext1 .dragon-text, .hovertext2 .dragon-text, .hovertext3 .dragon-text{
                top: 68%;
                }
            }


/*==================================================================================================================*/

#dragon, #center, #other {
    width: 100%;
    height: 90vh;
}
    @media (max-width: 48rem){
        #dragon, #center, #other{
        width: 100%;
        height: 90vh;
        }
    }

    #dragon:hover, #center:hover, #other:hover {
        animation-name: zoom;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
        @keyframes zoom {
        0% { transform: scale(1.0035);}
        100% { transform: scale(1.035);}
    }

.parallax {
    background-image: url('images/taiwan-dragon.jpg');
    min-height: 102vh;
    position: relative;
    background-attachment: fixed; /*does not work in safari*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================================================================three headed dragon==================*/
.bottom-section {
    margin-top: 1rem;
    text-align: center;
}

    #bottom {
        width: 60%;
        max-height: 100vh;
        margin: auto;
    }
        #bottom:hover {
            animation-name: pop;
            animation-delay: 1s;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        @keyframes pop {
            0% { transform: scale(1.0035);}
            100% {transform: scale(1.65);}
        }
/*========================================================================================================*/

.slideshow {
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 98%;
    height: 85vh;
}

    @media (max-width: 48rem){
        .slideshow {
            height: 50vh;
        }
    }
    .picSlides {  /*hide images by default*/
        display: none; 
    }

.slide-dragons {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    height: 80vh;
    width: 85%;
}

    @media (max-width: 48rem){
        .slide-dragons {
        margin: 0;
        height: 50vh;
        width: 100%;
        }
    }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            color: white;
            font-size: 2rem;
            font-weight: 900;
            top: 40%;
            padding: 1rem 0 1rem 0;
            background-color: rgba(0, 0, 0, 0.151);
            border-radius: 5px;
        }

            @media (max-width: 48rem){
                .prev, .next {
                top: 35%;
                }
            }

        .prev {  left: 0; }
            .prev:hover { 
                background-color: rgba(0, 0, 0, 0.432);
                border-radius: 5px;
                }

        .next { right: 0; }
            .next:hover { 
                background-color: rgba(0, 0, 0, 0.432);
                border-radius: 5px;
            }

            .fade { 
                animation-name: fade;
                animation-duration: 1.5s;
            }
                @keyframes fade {
                    0% { opacity: .4 }
                    100% { opacity: 1 }
                }


.footer-links {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin: 2rem 0 2rem 0;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* height: 50vh; */
}

@media (max-width: 48rem){
    .footer-links {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    }
}

    #foot1, #foot2, #foot3, #foot4 {
        background-image: linear-gradient(185deg, #000000 0%, #5a0101 46%, #525252 100%);
        border-radius: 10px;
        padding: 1rem;
    }

        @media (max-width: 48rem){
            #foot1, #foot2, #foot3, #foot4 {
            padding: .5rem;
            height: 15vh;
            }
        }

        /* @media (max-width: 48rem){
            #foot1, #foot2, #foot3, #foot4 {
                height: 42vh;
            }
        } */

        #foot1:hover, #foot2:hover, #foot3:hover, #foot4:hover {
            background-image: linear-gradient(185deg, #0e0e0e 0%, #680101 46%, #616161 100%);
            box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.75);
        }

        /* @keyframes shimer{
            
        } */

    .foot-text {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Inconsolata', monospace;
    }

    #signature {text-align: center; font-size: .9rem; color: rgb(94, 94, 94);}
